fp-info-cache
*bak
*cache*
Narrow
*~
*.bck
*.zip
*.DS_Store
*~
.gitignore-extra
*.svg
mfos_vclfo_nosync_panel_art.kicad_mod
mfos_vclfo_nosync_panel_holes.kicad_mod
mfos_vclfo_nosync-panel.kicad_pcb
mfos_vclfo_nosync-panel.pro
mfos_vclfo_nosync-panel.sch
mfos_vclfo_nosync-panel-Gerbers
mfos_vclfo_nosync_panel.png
mfos_vclfo_nosync_panel_art.png
mfos_vclfo_nosync_panel_holes.png
mfoslfo-800x800.png
SMD_PCB
partslayout.gif
VCLFO200607.php.html
VCLFO200607.php_files
lfo_sync_r01_magic_smoke_electronics_142.jpg
