fp-info-cache
*bak
*cache*
Narrow
*~
*.bck
*.zip
*.DS_Store
*~
.gitignore-extra
*.svg
*.dsn
*.kicad_prl
*.kicad_pro
*.rules
*.ses
\#*
lfo_sync_r01_magic_smoke_electronics_142.jpg
MFOS_VCLFO_aux_pkg.pdf
